{% extends 'blog/padre.html' %}
{% load static %}


{% block dir %}
<title>About</title>
{% endblock %}

{% block titulo %}
<h1 class="fw-bolder">Sportif</h1>
<p class="lead mb-0">Acerca del Creador</p>
{% endblock %}

{% block pagina %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h3>Yo</h3>
            <p>
                Soy Bernardo Pironio, alguien deportista desde el nacimiento y que disfruta mucho la actividad fisica. Desde chico practique muchos deportes como el golf, football y natacion. Pero el deporte
                de mi corazon siempre fue la nautica. Navego desde que tengo 5 años y pase por diferentes categorias, optimis, laser y 420; y por mas que ya lo deje, sigo metiendole al deporte con una disciplina llamada calistenia,
                que es un tipo de gimnasia practicada con el propio peso.
            </p>
            <br>
            <p>
                Cree esta pagina con la intencion que los usuarios compartan sus deportes, ya sean muy conocidos o extraños. Y mostrando sus experiencias podamos todos nutrirnos de las diferentes actividades, y quien sabe quizas
                nos motive para arrancar algo nuevo. Disfruten mucho la pagina!!!
            </p>
            <br>
        </div>
    </div>
</div>            
{% endblock %}