{% extends 'blog/padre.html' %}
{% load static %}


{% block dir %}
<title>Agregar Descripcion</title>
{% endblock %}

{% block titulo %}
<h1 class="fw-bolder">Sportif</h1>
<p class="lead mb-0">Agregar Descripcion</p>
<h1>{{ mensaje }}</h1>
{% endblock %}

{% block pagina %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h3>Agregar Descripcion de: {{ user.username }}</h3>
            <form action="{% url 'agregar_descripcion' %}" method="POST"> 
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Agregar">
            </form>
            <br>
        </div>
    </div>
</div>            
{% endblock %}