{% extends 'blog/padre.html' %}
{% load static %}



{% block dir %}
<title>Inicio</title>
{% endblock %}

{% block titulo %}
<h1 class="fw-bolder">Sportif</h1>
<p class="lead mb-0">El nuevo blog de deportes</p>
{% if user.is_authenticated %}
<p class="lead mb-0">Bienvenido/a, {{ user.username }} </p>
{% else %}
<p class="lead mb-0">Para postear, por favor logearse</p>
{% endif %}
<h1>{{ mensaje }}</h1>  
{% endblock %}

{% block pagina %}
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            {% if posts %}
            {% for post in posts %}
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="{{ post.imagen.url }}" alt="..." /></a>
                    <div class="card-body">
                        <h2 class="card-title">{{ post.titulo }}</h2>
                        <p class="card-text">{{ post.subtitulo }}</p>
                        <p class="card-text">{{ post.autor }}</p>
                        <p class="card-text">{{ post.fecha }}</p>
                        <a class="btn btn-primary" href={% url 'leer_mas' post.id %}>Leer mas →</a>
                        {% if user.is_authenticated %}
                        <a class="btn btn-danger" href={% url 'eliminar' post.id %}>Eliminar →</a>
                        <a class="btn btn-success" href={% url 'editar' post.id %}>Editar →</a>
                        {% endif %}
                        <br>
                        <br>
                    </div>
                </div>
            {% endfor %} 
            {% else %}
            <h1>No hay posts publicados todavia</h1>
            {% endif %}
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Buscar Post</div>
                <div class="card-body">
                    <div class="input-group">
                        <form action="{% url 'buscar' %}" method="GET">
                            <input class="form-control" name="titulo" id="titulo" type="text" placeholder="Titulo de post..." />
                            <br>
                            <input type="submit" value="Buscar" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>                
{% endblock %}