<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Perfil</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'blog/assets3/logo.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'blog/css3/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed;width: 100%;z-index: 100;">
            <div class="container">
                <a class="navbar-brand" href={% url 'inicio' %}>Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href={% url 'about' %}>Acerca de</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href={% url 'logout' %}>Deslogearse</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url 'crear' %}>Postear</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url 'enviar_mensaje' %}>Enviar Mensajes</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url 'leer_mensaje' %}>Leer Mensajes</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url 'perfil' %}>Perfil</a></li>
                        {% else %} 
                        <li class="nav-item"><a class="nav-link" href={% url 'login' %}>Logearse</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url 'register' %}>Registrarse</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{{ imagen }}" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">{{ user.username }}</h1>
                <p class="text-white-50 mb-0">Cantidad de Posts: {{ cantidad_de_posts }}</p>
                <h3 class="text-white fs-3 fw-bolder">{{ mensaje }}</h3>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Informacion:</h2>
                        <p class="lead">Nombre: {{ user.first_name }}</p>
                        <p class="lead">Apellido: {{ user.last_name }}</p>
                        <p class="lead">Email: {{ user.email }}</p>
                        <p class="lead">Descripcion: {{ descripcion }}</p>
                        <a class="btn btn-success" href={% url 'editar_perfil' %}>Editar Perfil →</a>
                        <a class="btn btn-primary" href={% url 'agregar_avatar' %}>Agregar/Cambiar Avatar →</a>
                        <a class="btn btn-primary" href={% url 'agregar_descripcion' %}>Agregar/Cambiar Descripcion →</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">By Beranrdo Pironio</p></div>
        </footer>
</html>
